body {
    font-family: 'Montserrat', Arial;
    color: #FFFFFF;
    background-color: #FF731A;
}

main {
    max-width: 1200px;
}

header {
    font-size: 12px;
    position: relative;
}

#home{
    z-index: 1;
    position: absolute;
    border: solid 1px #fff;
    width: 80px;
    height: 83px;
    background-color: transparent;
    left: 45px;
    top: 0px;
}

.boxmenu {
    padding: 5px 10px;
    width: 1120px;
    height: 70px;
    margin-left: 43px;
    margin-top: 40px;
    border: 2px solid #FFFFFF;
}

nav {
    font-size: 15px;
}

nav button {
    display: flex;
    justify-content: start;
    width: 150px;
    color: #FFFFFF;
    border: solid #FF731A;
    background-color: #FF731A;
}

nav ul {
    margin-top: 15px;
    margin-left: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav p {
    margin-top: 10px;
    margin-left: 100px;
}

#envelopeLogo {
    margin-left: 50px;
    margin-top: -10px;
}

nav span {
    margin-left: 10px;
    opacity: 60%;
}

.logoEngnet {
    padding: 2px 2px;
    width: 75px;
    height: 75px;
    top: 5px;
    left: 40px;
    object-fit: cover;
    object-position: left;
    position: absolute;
}

aside {
    text-align: center;
    width: 70px;
    height: 630px;
    border: 2px solid #FFFFFF;
    top: 40px;
    position: absolute;
    padding: 5px 5px;
    margin-left: 43px;
}

.boxMenuLateral {
    padding: 10px;
    margin-top: 480px;
}

main {
    margin-top: 100px;
    margin-left: 180px;
    margin-right: 550px;
    padding: 10px 10px 0px 10px;
}

main h1 {
    font-size: 42px;
}

main p {
    font-size: 18px;
    padding: 0px 9px 0px 10px;

}

.fotoEquipe {
    padding: 10px 10px 10px 10px;
    width: 485px;
    height: 335px;
    margin-top: -300px;
    margin-left: 500px;
}

.logo {
    padding: 5px;
    width: 30px;
    height: 30px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .boxmenu {
        width: 90%;
        height: 100%;
    }

    nav {
        font-size: 30px;
    }

    nav ul {
        display: grid;
        margin-left: 10%;
        gap: 6%;
    }

    nav p {
        margin-bottom: 8%;
        margin-left: 01%;
        margin-top: -3%;
    }

    nav button {
        display: flex;
        justify-content: start;
        width: 280px;
    }

    nav img {
        position: absolute;
        left: 80%;
        top: 85%;
    }

    .logoEngnet {
        top: 20%;
        left: 05%;
    }

    aside {
        width: 8%;
        height: 90%;
    }

    main {
        margin-left: 19%;
        padding: 10px 10px 10px 10px;
        margin-right: 5%;
    }

    main h1 {
        font-size: 42px;
    }

    main p {
        font-size: 30px;    
    }

    .fotoEquipe {
        position: relative;
        width: 80%;
        height: 00%;
        margin-top: 5%;
        margin-left: auto;
    }

    .logo {
        padding: 5px;
        width: 50px;
        height: 50px;
    }

    #home{
        z-index: 1;
        position: absolute;
        border: solid 1px #fff;
        width: 9%;
        height: 100%;
        background-color: transparent;
        left: 45px;
        top: 0px;
    }
}

@media (max-width: 768px) {
    .boxmenu {
        width: 90%;
        height: 100%;
    }

    nav ul {
        margin-left: 10%;
        gap: 20px;
    }

    nav p {
        margin-left: 10px;
    }

    nav img {
        top: 70%;
        margin-left: 0%;
    }

    aside {
        width: 8%;
        height: 150%;
    }

    .fotoEquipe {
        position: relative;
        width: 80%;
        height: 00%;
        margin-top: 5%;
        margin-left: auto;
    }

    #home{
        z-index: 1;
        position: absolute;
        border: solid 1px #fff;
        width: 9.2%;
        height: 100%;
        background-color: transparent;
        left: 45px;
        top: 0px;
    }

    .logo {
        padding: 2px;
        width: 50px;
        height: 50px;
    }

    .boxMenuLateral {
        margin-top: 1200%;
    }

}

@media (max-width: 480px) {
    .boxmenu {
        width: 90%;
        height: 100%;
    }

    nav ul {
        display: block;
        flex-direction: column;
        margin-left: 10%;
        font-size: 38px;
    }

    nav ul li {
        margin-bottom: 2%;
    }

    nav img {
        position: absolute;
        top: 82%;
        left: 50%;
    }

    nav button{
        width: 390px;
    }

    aside {
        width: 8%;
        height: 100%;
        margin-left: 43px;
    }

    .boxMenuLateral {
        margin-top: 1000%;
    }

    main h1 {
        font-size: 50px;
    }

    main p {
        font-size: 40px;
    }

    .logo {
        padding: 5px;
        width: 50px;
        height: 50px;
    }

    .fotoEquipe {
        position: relative;
        width: 90%;
        height: 10%;
        margin-top: 5%;
        margin-left: auto;
    }

    #home{
        z-index: 1;
        position: absolute;
        border: solid 1px #fff;
        width: 9.2%;
        height: 100%;
        background-color: transparent;
        left: 45px;
        top: 0px;
    }
}